<header class="header">
    <div class="header__inner">
        <img src="http://lorempixel.com/g/50/50/city/" alt="Logo">
        <div class="title">Hraniv village site</div>
        <div class="weather">Hraniv -5C</div>
        <span class="header__icon" id="menu">&#9776;</span>
    </div>
</header>
<main-nav></main-nav>
<main>
    <section class="content">
        <info class="info"></info>
        <side-nav class="side-nav"></side-nav>
        <section class="feedback"></section>
    </section>

</main>
<footer></footer>