.auth {
  width: 100%;
  background: white;
  padding: 15px;
  margin: 5px 0;
  -webkit-box-shadow: 2px 2px 1px 0px rgba(148, 142, 148, 1);
  -moz-box-shadow: 2px 2px 1px 0px rgba(148, 142, 148, 1);
  box-shadow: 2px 2px 1px 0px rgba(148, 142, 148, 1);
}

.auth-content {
  width: 50%;
  margin: 25px auto;
}

.auth input,.auth-center {
  width: 66%;
  display: block;
  margin: 5px auto;
}

.auth-btn {
  color: #737373;
  border-radius: 3px;
  white-space: nowrap;
  border-width: 1px;
  border-style: solid;
  border-color: #D7D7D7;
  border-color: rgba(155, 155, 155, 0.3);
  height: 38px;
  padding: 6px 10px;
  box-sizing: border-box;
  text-align: center;
  font-weight: bold;
}
.auth-btn.google {
  background-color: #bd081c;
}
.auth-btn.google:hover {
  background-color: #d50c22
}
.auth-btn.fb:hover {
  background-color: #4267b2;
}
.auth-btn.fb {
  background-color: #374fb2;
}
.auth-btn span {
  line-height: 25px;
  font-size: 1.5em;
  color: white;
}

.auth-btn span.icon {
  width: 10%;

}

.auth-content div {
    margin: 10px auto;
    width: 10%;
    font-size: 1.5em;
    text-transform: uppercase;
}

.auth-btn span.buttonText {
  display: inline-block;
  width: 87%;
}
