
<section class="info">
    <section *ngFor="let article of articles" class="info__item" >
      <div class="image"><img style="width:50%" class="thumbnail" src="{{article.imageUrl}}"></div>
    {{article.content}}
    </section>
</section>
<nav class="side-nav">
    <a class="button button-primary" [routerLink]="['/articles/add']">Add new article</a>
    <ul class="side-nav__list">
        <li *ngFor="let article of articles; let i = index" class="side-nav__item">
            <!--todo category link with anchor-->
            <a href="#{{article.$key}}">{{article.title}}</a>
        </li>
    </ul>
</nav>

<section class="feedback"></section>
